In [101]:
import pandas as pd
import numpy as np
import re

In [2]:
metadata_df = pd.read_csv('filename_url.csv')

In [17]:
metadata_df.tail()

,rank_week_filename,url_link
491,WR 2022-04-12 (Week-15).xlsx,https://extranet.bwfbadminton.com/docs/documen...
492,WR 2022-04-19 (Week-16).xlsx,https://extranet.bwfbadminton.com/docs/documen...
493,WR 2022-04-26 (Week-17).xlsx,https://extranet.bwfbadminton.com/docs/documen...
494,WR 2022-05-03 (Week-18).xlsx,https://extranet.bwfbadminton.com/docs/documen...
495,WR 2022-05-10 (Week-19).xlsx,https://extranet.bwfbadminton.com/docs/documen...

In [20]:
metadata_tuple = [tuple(r) for r in metadata_df.to_numpy()]

In [153]:
final = pd.read_excel("rankings\\" + metadata_tuple[0][0], sheet_name = 0, header = 3)
cols = ['BWF ID', 'Last name', 'First name', 'Ranking']
final['First name'] = final['First name'].str.lower()
final['Last name'] = final['Last name'].str.lower()
final = final[cols]
final = final.rename(columns = {'Ranking': metadata_tuple[0][0].replace(' ', '')[2:12]})

for md in metadata_tuple[1:]:
    
    hold = pd.read_excel("rankings\\" + md[0], sheet_name = 0, header = 3)
    
    hold['First name'] = hold['First name'].str.lower()
    hold['Last name'] = hold['Last name'].str.lower()
    hold = hold[cols]
    hold = hold.rename(columns = {'Ranking': md[0].replace(' ', '')[2:12]})
    
    final = final.merge(hold, how = 'outer', on = ['BWF ID', 'Last name', 'First name'])
    print(md[0])

WR 2012-01-12 (Week 2).xlsx
WR 2012-01-19 (Week 3).xlsx
WR 2012-01-26 (Week 4).xlsx
WR 2012-02-02 (Week 5).xlsx
WR 2012-02-09 (Week 6).xlsx
WR 2012-02-16 (Week 7).xlsx
WR 2012-02-23 (Week 8).xlsx
WR 2012-03-01 (Week 9).xlsx
WR 2012-03-08 (Week 10).xlsx
WR 2012-03-15 (Week 11).xlsx
WR 2012-03-22 (Week 12).xlsx
WR 2012-03-29 (Week 13).xlsx
WR 2012-04-05 (Week 14).xlsx
WR 2012-04-12 (Week 15).xlsx
WR 2012-04-19 (Week 16).xlsx
WR 2012-04-26 (Week 17).xlsx
WR 2012-05-03 (Week 18).xlsx
WR 2012-05-10 (Week 19).xlsx
WR 2012-05-17 (Week 20).xlsx
WR 2012-05-24 (Week 21).xlsx
WR 2012-05-31 (Week 22).xlsx
WR 2012-06-07 (Week 23).xlsx
WR 2012-06-14 (Week 24).xlsx
WR 2012-06-21 (Week 25).xlsx
WR 2012-06-28 (Week 26).xlsx
WR 2012-07-05 (Week 27).xlsx
WR 2012-07-12 (Week 28).xlsx
WR 2012-07-19 (Week 29).xlsx
WR 2012-07-26 (Week 30).xlsx
WR 2012-08-02 (Week 31).xlsx
WR 2012-08-09 (Week 32).xlsx
WR 2012-08-16 (Week 33).xlsx
WR 2012-08-23 (Week 34).xlsx
WR 2012-08-30 (Week 35).xlsx
WR 2012-09-06 (Week 36).xlsx
WR 2012-09-13 (Week 37).xlsx
WR 2012-09-20 (Week 38).xlsx
WR 2012-09-27 (Week 39).xlsx
WR 2012-10-04 (Week 40).xlsx
WR 2012-10-11 (Week 41).xlsx
WR 2012-10-18 (Week 42).xlsx
WR 2012-10-25 (Week 43).xlsx
WR 2012-11-01 (Week 44).xlsx
WR 2012-11-08 (Week 45).xlsx
WR 2012-11-16 (Week 46).xlsx
WR 2012-11-22 (Week 47).xlsx
WR 2012-11-29 (Week 48).xlsx
WR 2012-12-06 (Week 49).xlsx
WR 2012-12-13 (Week 50).xlsx
WR 2012-12-20 (Week 51).xlsx
WR 2012-12-27 (Week 52).xlsx
WR 2013-01-03 (Week 1).xlsx
WR 2013-01-10 (Week 2).xlsx
WR 2013-01-17 (Week 3).xlsx
WR 2013-01-25 (Week-4).xlsx
WR 2013-01-31 (Week 5).xlsx
WR 2013-02-07 (Week 6).xlsx
WR 2013-02-14 (Week 7).xlsx
WR 2013-02-21 (Week 8).xlsx
WR 2013-02-28 (Week 9).xlsx
WR 2013-03-07 (Week-10).xlsx
WR 2013-03-14 (Week 11).xlsx
WR 2013-03-21 (Week 12).xlsx
WR 2013-03-28 (Week 13).xlsx
WR 2013-04-04 (Week 14).xlsx
WR 2013-04-11 (Week 15).xlsx
WR 2013-04-18 (Week 16).xlsx
WR 2013-04-25 (Week 17).xlsx
WR 2013-05-02 (Week 18).xlsx
WR 2013-05-09 (Week 19).xlsx
WR 2013-05-16 (Week 20).xlsx
WR 2013-05-23 (Week 21).xlsx
WR 2013-05-30 (Week 22).xlsx
WR 2013-06-06 (Week 23).xlsx
WR 2013-06-13 (Week 24).xlsx
WR 2013-06-20 (Week 25).xlsx
WR 2013-06-27 (Week 26).xlsx
WR 2013-07-04 (Week 27).xlsx
WR 2013-07-11 (Week 28).xlsx
WR 2013-07-18 (Week 29).xlsx
WR 2013-07-25 (Week 30).xlsx
WR 2013-08-01 (Week 31).xlsx
WR 2013-08-07 (Week 32).xlsx
WR 2013-08-15 (Week 33).xlsx
WR 2013-08-22 (Week 34).xlsx
WR 2013-08-29 (Week 35).xlsx
WR 2013-09-05 (Week 36).xlsx
WR 2013-09-12 (Week 37).xlsx
WR 2013-09-19 (Week 38).xlsx
WR 2013-09-26 (Week 39).xlsx
WR 2013-10-03 (Week 40).xlsx
WR 2013-10-10 (Week 41).xlsx
WR 2013-10-17 (Week 42).xlsx
WR 2013-10-24 (Week 43).xlsx
WR 2013-10-31 (Week 44).xlsx
WR 2013-11-07 (Week 45).xlsx
WR 2013-11-14 (Week 46).xlsx
WR 2013-11-21 (Week 47).xlsx
WR 2013-11-28 (Week 48).xlsx
WR 2013-12-05 (Week 49).xlsx
WR 2013-12-12 (Week 50).xlsx
WR 2013-12-19 (Week 51).xlsx
WR 2013-12-26 (Week 52).xlsx
WR 2014-01-02 (Week 01).xlsx
WR 2014-01-09 (Week 02).xlsx
WR 2014-01-16 (Week 03).xlsx
WR 2014-01-23 (Week 04).xlsx
WR 2014-01-30 (Week 05).xlsx
WR 2014-02-06 (Week 06).xlsx
WR 2014-02-13 (Week 07).xlsx
WR 2014-02-20 (Week 08).xlsx
WR 2014-02-27 (Week 09).xlsx
WR 2014-03-06 (Week 10).xlsx
WR 2014-03-13 (Week 11).xlsx
WR 2014-03-20 (Week 12).xlsx
WR 2014-03-27 (Week 13).xlsx
WR 2014-04-03 (Week 14).xlsx
WR 2014-04-10 (Week 15).xlsx
WR 2014-04-17 (Week 16).xlsx
WR 2014-04-24 (Week 17).xlsx
WR 2014-05-02 (Week 18).xlsx
WR 2014-05-08 (Week 19).xlsx
WR 2014-05-15 (Week 20).xlsx
WR 2014-05-22 (Week 21).xlsx
WR 2014-05-29 (Week 22).xlsx
WR 2014-06-05 (Week 23).xlsx
WR 2014-06-12 (Week 24).xlsx
WR 2014-06-19 (Week 25).xlsx
WR 2014-06-26 (Week 26).xlsx
WR 2014-07-03 (Week 27).xlsx
WR 2014-07-10 (Week 28).xlsx
WR 2014-07-17 (Week 29).xlsx
WR 2014-07-24 (Week 30).xlsx
WR 2014-07-31 (Week 31).xlsx
WR 2014-08-07 (Week 32).xlsx
WR 2014-08-14 (Week 33).xlsx
WR 2014-08-21 (Week 34).xlsx
WR 2014-08-28 (Week 35).xlsx
WR 2014-09-04 (Week 36).xlsx
WR 2014-09-11 (Week 37).xlsx
WR 2014-09-18 (Week 38).xlsx
WR 2014-09-25 (Week 39).xlsx
WR 2014-10-02 (Week 40).xlsx
WR 2014-10-09 (Week 41).xlsx
WR 2014-10-16 (Week 42).xlsx
WR 2014-10-23 (Week 43).xlsx
WR 2014-10-30 (Week 44).xlsx
WR 2014-11-06 (Week 45).xlsx
WR 2014-11-13 (Week 46).xlsx
WR 2014-11-20 (Week 47).xlsx
WR 2014-11-27 (Week 48).xlsx
WR 2014-12-04 (Week 49).xlsx
WR 2014-12-11 (Week 50).xlsx
WR 2014-12-18 (Week 51).xlsx
WR 2014-12-24 (Week 52).xlsx
WR 2015-01-02 (Week 01).xlsx
WR 2015-01-08 (Week 02).xlsx
WR 2015-01-15 (Week 03).xlsx
WR 2015-01-22 (Week 04).xlsx
WR 2015-01-29 (Week 05).xlsx
WR 2015-02-05 (Week 06).xlsx
WR 2015-02-12 (Week 07).xlsx
WR 2015-02-18 (Week 08).xlsx
WR 2015-02-26 (Week 09).xlsx
WR 2015-03-05 (Week 10).xlsx
WR 2015-03-12 (Week 11).xlsx
WR 2015-03-19 (Week 12).xlsx
WR 2015-03-26 (Week 13).xlsx
WR 2015-04-02 (Week 14).xlsx
WR 2015-04-09 (Week 15).xlsx
WR 2015-04-16 (Week 16).xlsx
WR 2015-04-23 (Week 17).xlsx
WR 2015-04-30 (Week 18).xlsx
WR 2015-05-07 (Week 19).xlsx
WR 2015-05-14 (Week 20).xlsx
WR 2015-05-21 (Week 21).xlsx
WR 2015-05-28 (Week 22).xlsx
WR 2015-06-04 (Week 23).xlsx
WR 2015-06-11 (Week 24).xlsx
WR 2015-06-18 (Week 25).xlsx
WR 2015-06-25 (Week 26).xlsx
WR 2015-07-02 (Week 27).xlsx
WR 2015-07-09 (Week 28).xlsx
WR 2015-07-16 (Week 29).xlsx
WR 2015-07-23 (Week 30).xlsx
WR 2015-07-30 (Week 31).xlsx
WR 2015-08-06 (Week 32).xlsx
WR 2015-08-13 (Week 33).xlsx
WR 2015-08-20 (Week 34).xlsx
WR 2015-08-27 (Week 35).xlsx
WR 2015-09-03 (Week 36).xlsx
WR 2015-09-10 (Week 37).xlsx
WR 2015-09-17 (Week 38).xlsx
WR 2015-09-23 (Week 39).xlsx
WR 2015-10-01 (Week 40).xlsx
WR 2015-10-08 (Week 41).xlsx
WR 2015-10-15 (Week 42).xlsx
WR 2015-10-22 (Week 43).xlsx
WR 2015-10-29 (Week 44).xlsx
WR 2015-11-05 (Week 45).xlsx
WR 2015-11-12 (Week 46).xlsx
WR 2015-11-19 (Week 47).xlsx
WR 2015-11-26 (Week 48).xlsx
WR 2015-12-03 (Week 49).xlsx
WR 2015-12-10 (Week 50).xlsx
WR 2015-12-17 (Week 51).xlsx
WR 2015-12-23 (Week 52).xlsx
WR 2015-12-31 (Week 53).xlsx
WR 2016-01-07 (Week 01).xlsx
WR 2016-01-14 (Week 02).xlsx
WR 2016-01-21 (Week 03).xlsx
WR 2016-01-28 (Week 04).xlsx
WR 2016-02-04 (Week 05).xlsx
WR 2016-02-11 (Week 06).xlsx
WR 2016-02-18 (Week 07).xlsx
WR 2016-02-25 (Week 08).xlsx
WR 2016-03-03 (Week 09).xlsx
WR 2016-03-10 (Week 10).xlsx
WR 2016-03-17 (Week 11).xlsx
WR 2016-03-24 (Week 12).xlsx
WR 2016-03-31 (Week 13).xlsx
WR 2016-04-07 (Week 14).xlsx
WR 2016-04-14 (Week 15).xlsx
WR 2016-04-21 (Week 16).xlsx
WR 2016-04-28 (Week 17).xlsx
WR 2016-05-05 (Week 18).xlsx
WR 2016-05-12 (Week 19).xlsx
WR 2016-05-19 (Week 20).xlsx
WR 2016-05-26 (Week 21).xlsx
WR 2016-06-02 (Week 22).xlsx
WR 2016-06-09 (Week 23).xlsx
WR 2016-06-16 (Week 24).xlsx
WR 2016-06-23 (Week 25).xlsx
WR 2016-06-30 (Week 26).xlsx
WR 2016-07-08 (Week 27).xlsx
WR 2016-07-14 (Week 28).xlsx
WR 2016-07-21 (Week 29).xlsx
WR 2016-07-28 (Week 30).xlsx
WR 2016-08-04 (Week 31).xlsx
WR 2016-08-11 (Week 32).xlsx
WR 2016-08-18 (Week 33).xlsx
WR 2016-08-25 (Week 34).xlsx
WR 2016-09-01 (Week 35).xlsx
WR 2016-09-08 (Week 36).xlsx
WR 2016-09-15 (Week 37).xlsx
WR 2016-09-22 (Week 38).xlsx
WR 2016-09-29 (Week 39).xlsx
WR 2016-10-06 (Week 40).xlsx
WR 2016-10-13 (Week 41).xlsx
WR 2016-10-20 (Week 42).xlsx
WR 2016-10-27 (Week 43).xlsx
WR 2016-11-03 (Week 44).xlsx
WR 2016-11-10 (Week 45).xlsx
WR 2016-11-17 (Week 46).xlsx
WR 2016-11-24 (Week 47).xlsx
WR 2016-12-01 (Week 48).xlsx
WR 2016-12-08 (Week 49).xlsx
WR 2016-12-15 (Week 50).xlsx
WR 2016-12-22(Week 51).xlsx
WR 2016-12-29 (Week 52).xlsx
WR 2017-01-05 (Week 01).xlsx
WR 2017-01-12 (Week 02).xlsx
WR 2017-01-19 (Week 03).xlsx
WR 2017-01-26 (Week 04).xlsx
WR 2017-02-02 (Week 05).xlsx
WR 2017-02-10 (Week 06).xlsx
WR 2017-02-16 (Week 07).xlsx
WR 2017-02-23 (Week 08).xlsx
WR 2017-03-02 (Week 09).xlsx
WR 2017-03-09 (Week 10).xlsx
WR 2017-03-16 (Week 11).xlsx
WR 2017-03-23 (Week 12).xlsx
WR 2017-03-30 (Week 13).xlsx
WR 2017-04-06 (Week 14).xlsx
WR 2017-04-13 (Week 15).xlsx
WR 2017-04-20 (Week 16).xlsx
WR 2017-04-27 (Week 17).xlsx
WR 2017-05-04 (Week 18).xlsx
WR 2017-05-11 (Week 19).xlsx
WR 2017-05-18 (Week 20).xlsx
WR 2017-05-25 (Week 21).xlsx
WR 2017-06-01 (Week 22).xlsx
WR 2017-06-08 (Week 23).xlsx
WR 2017-06-15 (Week 24).xlsx

WR 2017-06-22 (Week 25).xlsx
WR 2017-06-29 (Week 26).xlsx
WR 2017-07-06 (Week 27).xlsx
WR 2017-07-13 (Week 28).xlsx
WR 2017-07-20 (Week 29).xlsx
WR 2017-07-27 (Week 30).xlsx
WR 2017-08-03 (Week 31).xlsx
WR 2017-08-10 (Week 32).xlsx
WR 2017-08-17 (Week 33).xlsx
WR 2017-08-24 (Week 34).xlsx
WR 2017-08-30 (Week 35).xlsx
WR 2017-09-07 (Week 36).xlsx
WR 2017-09-14 (Week 37).xlsx
WR 2017-09-21 (Week 38).xlsx
WR 2017-09-28 (Week 39).xlsx
WR 2017-10-05 (Week 40).xlsx
WR 2017-10-12 (Week 41).xlsx
WR 2017-10-19 (week 42).xlsx
WR 2017-10-26 (Week 43).xlsx
WR 2017-11-02 (Week 44).xlsx
WR 2017-11-09 (Week 45).xlsx
WR 2017-11-16 (Week 46).xlsx
WR 2017-11-23 (Week 47).xlsx
WR 2017-11-30 (Week 48).xlsx
WR 2017-12-07 (Week 49).xlsx
WR 2017-12-14 (Week 50).xlsx
WR 2017-12-21 (Week 51).xlsx
WR 2017-12-28 (Week 52).xlsx
WR 2018-01-04 (Week 01).xlsx
WR 2018-01-11 (Week 02).xlsx
WR 2018-01-18 (Week 03).xlsx
WR 2018-01-25 (Week 04).xlsx
WR 2018-02-02 (Week 05).xlsx
WR 2018-02-08 (Week 06).xlsx
WR 2018-02-15 (Week 07).xlsx
WR 2018-02-22 (Week 08).xlsx
WR 2018-03-01 (Week 09).xlsx
WR 2018-03-08 (Week 10).xlsx
WR 2018-03-15 (Week 11).xlsx
WR 2018-03-22 (Week 12).xlsx
WR 2018-03-29 (Week 13).xlsx
WR 2018-04-05 (Week 14).xlsx
WR 2018-04-12 (Week 15).xlsx
WR 2018-04-19 (Week 16).xlsx
WR 2018-04-26 (Week 17).xlsx
WR 2018-05-03 (Week 18).xlsx
WR 2018-05-10 (Week 19).xlsx
WR 2018-05-17 (Week 20).xlsx
WR 2018-05-24 (Week 21).xlsx
WR 2018-05-31 (Week 22).xlsx
WR 2018-06 28 (Week 26).xlsx
WR 2018-06-07 (Week 23).xlsx
WR 2018-06-14 (Week 24).xlsx
WR 2018-06-21(Week 25).xlsx
WR 2018-07-05 (Week 27).xlsx
WR 2018-07-12 (Week 28).xlsx
WR 2018-07-19 (Week 29).xlsx
WR 2018-07-26 (Week 30).xlsx
WR 2018-08-02 (Week 31).xlsx
WR 2018-08-09 (Week 32).xlsx
WR 2018-08-16(Week 33).xlsx
WR 2018-08-23 (Week 34).xlsx
WR 2018-08-30 (Week 35).xlsx
WR 2018-09-06 (Week 36).xlsx
WR 2018-09-13 (Week 37).xlsx
WR 2018-09-20 (Week 38).xlsx
WR 2018-09-27 (Week 39).xlsx
WR 2018-10-04 (Week 40).xlsx
WR 2018-10-11 (Week 41).xlsx
WR 2018-10-18 (Week 42).xlsx
WR 2018-10-25 (Week 43).xlsx
WR 2018-11-01 (Week 44).xlsx
WR 2018-11-08 (Week 45).xlsx
WR 2018-11-15 (Week 46).xlsx
WR 2018-11-22 (Week 47).xlsx
WR 2018-11-29 (Week 48).xlsx
WR 2018-12-06 (Week 49).xlsx
WR 2018-12-13 (Week 50).xlsx
WR 2018-12-20 (Week 51).xlsx
WR 2018-12-27 (Week 52).xlsx
WR 2019-01-02 (Week 01).xlsx
WR 2019-01-08 (Week 02).xlsx
WR 2019-01-15 (Week 03).xlsx
WR 2019-01-22 (Week 04).xlsx
WR 2019-01-29 (Week 05).xlsx
WR 2019-02-05 (Week 06).xlsx
WR 2019-02-12 (Week 07).xlsx
WR 2019-02-19 (Week 08).xlsx
WR 2019-02-26 (Week 09).xlsx
WR 2019-03-05 (Week 10).xlsx
WR 2019-03-12 (Week 11).xlsx
WR 2019-03-19 (Week 12).xlsx
WR 2019-03-26 (Week 13).xlsx
WR 2019-04-02 (Week 14).xlsx
WR 2019-04-09 (Week 15).xlsx
WR 2019-04-16 (Week 16).xlsx
WR 2019-04-23 (Week 17).xlsx
WR 2019-04-30 (Week 18).xlsx
WR 2019-05-07 (Week 19).xlsx
WR 2019-05-14 (Week 20).xlsx
WR 2019-05-21 (Week 21).xlsx
WR 2019-05-28 (Week 22).xlsx
WR 2019-06- 04 (Week 23).xlsx
WR 2019-06-11 (Week 24).xlsx
WR 2019-06-18 (Week 25).xlsx
WR 2019-06-25 (Week 26).xlsx
WR 2019-07-02 (Week 27).xlsx
WR 2019-07-09 (Week 28).xlsx
WR 2019-07-16 (Week 29).xlsx
WR 2019-07-23 (Week 30).xlsx
WR 2019-07-30 (Week 31).xlsx
WR 2019-08- 06 (Week 32).xlsx
WR 2019-08-13 (Week 33).xlsx
WR 2019-08-20 (Week 34).xlsx
WR 2019-08-27 (Week 35).xlsx
WR 2019-09-03 (Week 36).xlsx
WR 2019-09-10 (Week 37).xlsx
WR 2019-09-17 (Week 38).xlsx
WR 2019-09-24 (Week 39).xlsx
WR 2019-10-01 (Week 40).xlsx
WR 2019-10-08 (Week 41).xlsx
WR 2019-10-15 (Week 42).xlsx
WR 2019-10-22 (Week 43).xlsx
WR 2019-10-29 (Week 44).xlsx
WR 2019-11-05 (Week 45).xlsx
WR 2019-11-12 (Week 46).xlsx
WR 2019-11-19 (Week 47).xlsx
WR 2019-11-26 (Week 48).xlsx
WR 2019-12-03 (Week 49).xlsx
WR 2019-12-10 (Week 50).xlsx
WR 2019-12-17 (Week 51).xlsx
WR 2019-12-24 (Week 52).xlsx
WR 2019-12-31 (Week 53).xlsx
WR 2020-01-07 (Week 02).xlsx
WR 2020-01-14 (Week 03).xlsx
WR 2020-01-21 (Week 04).xlsx
WR 2020-01-28 (Week 05).xlsx
WR 2020-02-04 (Week 06).xlsx
WR 2020-02-11 (Week 07).xlsx
WR 2020-02-18 (Week 08) (U).xlsx
WR 2020-02-25 (Week 09).xlsx
WR 2020-03-03 (Week 10).xlsx
WR 2020-03-10 (Week 11).xlsx
WR 2020-03-17 (Week 12).xlsx
WR 2021-02-02 (Week-05).xlsx
WR 2021-02-09 (Week-06).xlsx
WR 2021-02-16 (Week-07).xlsx
WR 2021-02-23 (Week-08).xlsx
WR 2021-03-02 (Week-09).xlsx
WR 2021-03-09 (Week-10).xlsx
WR 2021-03-16 (Week-11).xlsx
WR 2021-03-23 (Week-12).xlsx
WR 2021-03-30 (Week-13).xlsx
WR 2021-04-06 (Week-14).xlsx
WR 2021-04-13 (Week-15).xlsx
WR 2021-04-20 (Week-16).xlsx
WR 2021-04-27 (Week-17).xlsx
WR 2021-05-04 (Week-18).xlsx
WR 2021-05-11 (Week-19).xlsx
WR 2021-05-18 (Week-20).xlsx
WR 2021-05-25 (Week-21).xlsx
WR 2021-06-01 (Week-22).xlsx
WR 2021-06-08 (Week-23).xlsx
WR 2021-06-15 (Week-24).xlsx
WR 2021-06-22 (Week-25).xlsx
WR 2021-06-29 (Week-26).xlsx
WR 2021-07-06 (Week-27).xlsx
WR 2021-07-13 (Week-28).xlsx
WR 2021-07-20 (Week-29).xlsx
WR 2021-07-27 (Week-30).xlsx
WR 2021-08-03 (Week-31).xlsx
WR 2021-08-10 (Week-32).xlsx
WR 2021-08-17 (Week-33).xlsx
WR 2021-08-24 (Week-34).xlsx
WR 2021-08-31 (Week-35).xlsx
WR 2021-09-07 (Week-36).xlsx
WR 2021-09-14 (Week-37).xlsx
WR 2021-09-21 (Week-38).xlsx
WR 2021-09-28 (Week-39).xlsx
WR 2021-10-05 (Week-40).xlsx
WR 2021-10-12 (Week-41).xlsx
WR 2021-10-19 (Week-42).xlsx
WR 2021-10-26 (Week-43).xlsx
WR 2021-11-02 (Week-44).xlsx
WR 2021-11-09 (Week-45).xlsx
WR 2021-11- 16 (Week-46).xlsx
WR 2021-11-23 (Week-47).xlsx
WR 2021-11-30 (Week-48).xlsx
WR 2021-12-07 (Week-49).xlsx
WR 2021-12-14 (Week-50).xlsx
WR 2021-12-21 (Week-51).xlsx
WR 2021-12-28 (Week-52).xlsx
WR 2022-01-04 (Week-01).xlsx
WR 2022-01-11 (Week-02).xlsx
WR 2022-01-18 (Week-03).xlsx
WR 2022-01-25 (Week-04).xlsx
WR 2022-02-01 (Week-05).xlsx
WR 2022-02-08 (Week-06).xlsx
WR 2022-02-15 (Week-07).xlsx
WR 2022-02-22 (Week-08).xlsx
WR 2022-03-01 (Week-09).xlsx
WR 2022-03-08 (Week-10).xlsx
WR 2022-03-15 (Week-11).xlsx
WR 2022-03-22 (Week-12).xlsx
WR 2022-03-29 (Week-13).xlsx
WR 2022-04-05 (Week-14).xlsx
WR 2022-04-12 (Week-15).xlsx
WR 2022-04-19 (Week-16).xlsx
WR 2022-04-26 (Week-17).xlsx
WR 2022-05-03 (Week-18).xlsx
WR 2022-05-10 (Week-19).xlsx

In [219]:
final.head()

,BWF ID,Last name,First name,2012-01-05,2012-01-12,2012-01-19,2012-01-26,2012-02-02,2012-02-09,2012-02-16,...,2022-03-08,2022-03-15,2022-03-22,2022-03-29,2022-04-05,2022-04-12,2022-04-19,2022-04-26,2022-05-03,2022-05-10
0,50152,lee,chong wei,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,50906,lin,dan,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,75787,chen,long,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,7.0,7.0
3,6926,gade,peter hoeg,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,51592,chen,jin,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [235]:
ranking = final.groupby('BWF ID', as_index = False).max(numeric_only=True)

In [236]:
ranking

,BWF ID,2012-01-05,2012-01-12,2012-01-19,2012-01-26,2012-02-02,2012-02-09,2012-02-16,2012-02-23,2012-03-01,...,2022-03-08,2022-03-15,2022-03-22,2022-03-29,2022-04-05,2022-04-12,2022-04-19,2022-04-26,2022-05-03,2022-05-10
0,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,454,617.0,617.0,619.0,619.0,619.0,620.0,620.0,562.0,258.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1085,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7216,99960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1334.0,1336.0,1336.0,1338.0,1338.0,1338.0,1350.0,1350.0,1364.0,1367.0
7217,99965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1334.0,1336.0,1336.0,1338.0,1338.0,1338.0,1350.0,1350.0,1364.0,1367.0
7218,99983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7219,99993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7220,99994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1996.0,1999.0,1999.0,2003.0,2003.0,2003.0,2010.0,2010.0,2030.0,2035.0

In [194]:
id_toname = final.groupby('BWF ID', as_index = False).agg({'First name': 'last', 'Last name' : 'last'})

In [197]:
id_toname[id_toname['BWF ID'] == 5692]

    BWF ID First name Last name
25    5692     tjitte   weistra

In [239]:
final_ranking = id_toname.merge(ranking, on = 'BWF ID', how = 'outer')

In [240]:
final_ranking

,BWF ID,First name,Last name,2012-01-05,2012-01-12,2012-01-19,2012-01-26,2012-02-02,2012-02-09,2012-02-16,...,2022-03-08,2022-03-15,2022-03-22,2022-03-29,2022-04-05,2022-04-12,2022-04-19,2022-04-26,2022-05-03,2022-05-10
0,6,gilles,allet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,454,luke,charlesworth,617.0,617.0,619.0,619.0,619.0,620.0,620.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1085,dean,schoppe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1362,john,wright,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1453,petter,yngvesson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7216,99960,hussein,ahmed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1334.0,1336.0,1336.0,1338.0,1338.0,1338.0,1350.0,1350.0,1364.0,1367.0
7217,99965,jia hao,yu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1334.0,1336.0,1336.0,1338.0,1338.0,1338.0,1350.0,1350.0,1364.0,1367.0
7218,99983,temuulen,ayush,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7219,99993,ozgur,potuk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7220,99994,mads,sørensen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1996.0,1999.0,1999.0,2003.0,2003.0,2003.0,2010.0,2010.0,2030.0,2035.0

In [253]:
alpha_cols = ['BWF ID', 'First name', 'Last name']
all_cols = list(final_ranking.columns)
rank_cols = list(set(all_cols) - set(alpha_cols))

In [264]:
final_ranking.to_csv('historical_bwf_ranking.csv', index = False)